@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;

  .form-control:focus {
    box-shadow: none;
  }
}
